# Amazon product data mapping

In [83]:
# importing libraries
from fuzzywuzzy import fuzz
import pandas as pd 
import re
import csv
import warnings
warnings.filterwarnings('ignore')

In [84]:
# Amazon product dataset
amazon = pd.read_csv('AmazonProductdata.csv')

# change columns name
amazon.rename(columns={'Name': 'Amazon_Name',
                       'Synonyms': 'Amazon_Synonyms',
                       'SalesPrice': 'Amazon_SalesPrice',
                       'OriginalPrice': 'Amazon_OriginalPrice',
                       'Rating': 'Amazon_Rating',
                       'ProductLink': 'Amazon_ProductLink',
                       'ImageLink': 'Amazon_ImageLink'}, inplace=True)

In [72]:
# Flipkart product dataset
flipkart = pd.read_csv('FlipkartDataset.csv')

# change columns name
flipkart.rename(columns={'Name': 'Flipkart_Name',
                         'Synonyms': 'Flipkart_Synonyms',
                         'SalesPrice': 'Flipkart_SalesPrice',
                         'OriginalPrice': 'Flipkart_OriginalPrice',
                         'Rating': 'Flipkart_Rating',
                         'ProductLink': 'Flipkart_ProductLink',
                         'ImageLink': 'Flipkart_ImageLink'}, inplace=True)

In [73]:
# Snapdeal product dataset
snapdeal= pd.read_csv('SnapdealDataset.csv')

# change columns name
snapdeal.rename(columns={'Name': 'Snapdeal_Name',
                         'Synonyms': 'Snapdeal_Synonyms',
                         'SalesPrice': 'Snapdeal_SalesPrice',
                         'OriginalPrice': 'Snapdeal_OriginalPrice',
                         'Rating': 'Snapdeal_Rating',
                         'ProductLink': 'Snapdeal_ProductLink',
                         'ImageLink': 'Snapdeal_ImageLink'}, inplace=True)

In [85]:
# Remove all the special characters
amazon_name = amazon['Amazon_Synonyms'].str.replace(r"[^0-9,a-z,A-Z, ]",'')
amazon_name = amazon_name.str.replace(r"[,]",'')
amazon_name_lst = amazon_name.to_list()

# remove duplicate string
new_amazon_name_lst = []
for lst in amazon_name_lst:
    new_amazon_lst = (' '.join(dict.fromkeys(lst.split())))
    new_amazon_name_lst.append(new_amazon_lst)


amazon.insert(1, "New_Amazon_Name",new_amazon_name_lst)
amazon.head()

,Id,New_Amazon_Name,Amazon_Name,Amazon_Synonyms,Amazon_SalesPrice,Amazon_OriginalPrice,Availability,Ratings,Amazon_ProductLink,Amazon_ImageLink
0,Amazon_1,Tecno Spark 7 Magnet Black 3GB RAM,"Tecno Spark 7 (Magnet Black, 3GB RAM, 64 GB St...","['Tecno Spark 7 ', 'Tecno Spark 7 Magnet Black...",8499,9999,Available,3.9,https://www.amazon.co.in/gp/slredirect/picasso...,https://m.media-amazon.com/images/I/712hJ5hz7N...
1,Amazon_2,Lava Z2 2GB RAM 32GB Storage,"Lava Z2 (2GB RAM, 32GB Storage)- Aqua Blue, Re...","['Lava Z2 ', 'Lava Z2 2GB RAM', 'Lava Z2 32GB...",7399,7999,Available,4.1,https://www.amazon.co.in/gp/slredirect/picasso...,https://m.media-amazon.com/images/I/71y28elHfB...
2,Amazon_3,Redmi 9A Nature Green 2GB RAM,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","['Redmi 9A ', 'Redmi 9A Nature Green', 'Redmi ...",6799,8499,Available,4.2,https://www.amazon.co.in/Redmi-9A-2GB-32GB-Sto...,https://m.media-amazon.com/images/I/71sxlhYhKW...
3,Amazon_4,Redmi 9 Sky Blue 4GB RAM,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...","['Redmi 9 ', 'Redmi 9 Sky Blue', 'Redmi 9 4GB...",8799,10999,Available,4.2,https://www.amazon.co.in/Redmi-Sky-Blue-64GB-S...,https://m.media-amazon.com/images/I/71A9Vo1Bat...
4,Amazon_5,Samsung Galaxy M11 Metallic Blue 4GB RAM,"Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64...","['Samsung Galaxy M11 ', 'Samsung Galaxy M11 Me...",8999,14999,Available,4.2,https://www.amazon.co.in/Samsung-Metallic-Stor...,https://m.media-amazon.com/images/I/71GQUxuSpn...

In [75]:
# Remove all the special characters
flipkart_name = flipkart['Flipkart_Name'].str.replace(r"[(),,]",'')
flipkart.insert(1, "New_Flipkart_Name",flipkart_name, True)
flipkart.head()

,ID,New_Flipkart_Name,Flipkart_Name,Flipkart_Synonyms,Flipkart_SalesPrice,Flipkart_OriginalPrice,Flipkart_Rating,Flipkart_ProductLink,Flipkart_ImageLink
0,Flipkart_1,REDMI 9i Midnight Black 64 GB,"REDMI 9i (Midnight Black, 64 GB)",REDMI 9i | REDMI 9i Midnight Black | REDMI 9i ...,8299,9999,4.3,https://www.flipkart.com/redmi-9i-midnight-bla...,https://rukminim1.flixcart.com/image/312/312/k...
1,Flipkart_2,Infinix Hot 10 Ocean Wave 64 GB,"Infinix Hot 10 (Ocean Wave, 64 GB)",Infinix Hot 10 | Infinix Hot 10 Ocean Wave | I...,8999,11999,4.4,https://www.flipkart.com/infinix-hot-10-ocean-...,https://rukminim1.flixcart.com/image/312/312/k...
2,Flipkart_3,Infinix Hot 10 Moonlight Jade 64 GB,"Infinix Hot 10 (Moonlight Jade, 64 GB)",Infinix Hot 10 | Infinix Hot 10 Moonlight Jade...,8999,11999,4.4,https://www.flipkart.com/infinix-hot-10-moonli...,https://rukminim1.flixcart.com/image/312/312/k...
3,Flipkart_4,I Kall K400 Blue 64 GB,"I Kall K400 (Blue, 64 GB)",I Kall K400 | I Kall K400 Blue | I Kall K400 ...,6299,6499,3,https://www.flipkart.com/kall-k400-blue-64-gb/...,https://rukminim1.flixcart.com/image/312/312/k...
4,Flipkart_5,Infinix Hot 10 Amber Red 64 GB,"Infinix Hot 10 (Amber Red, 64 GB)",Infinix Hot 10 | Infinix Hot 10 Amber Red | In...,8999,11999,4.4,https://www.flipkart.com/infinix-hot-10-amber-...,https://rukminim1.flixcart.com/image/312/312/k...

In [76]:
# Remove all the special characters
snapdeal_name = snapdeal['Snapdeal_Name'].str.replace(r"[(),,]",'')
snapdeal.insert(1, "New_Snapdeal_Name",snapdeal_name, True)
snapdeal.head()

,ID,New_Snapdeal_Name,Snapdeal_Name,Snapdeal_Synonyms,Snapdeal_SalesPrice,Snapdeal_OriginalPrice,Snapdeal_Rating,Snapdeal_ProductLink,Snapdeal_ImageLink,Availibility
0,Snapdeal_1,Redmi 9 64GB 4 GB Black,"Redmi 9 ( 64GB , 4 GB ) Black","Redmi 9 | Redmi 9 ( 64GB , 4 GB) | Redmi 9 Black",9499,10999.0,3.6,https://www.snapdeal.com/product/redmi-9-64gb-...,https://n2.sdlcdn.com/imgs/j/r/t/Redmi-9-64GB-...,Available
1,Snapdeal_2,Xolo Era 2 8GB 1 GB Black,"Xolo Era 2 ( 8GB , 1 GB ) Black","Xolo Era 2 | Xolo Era 2 ( 8GB , 1 GB) | Xolo E...",4463,NaN,3.8,https://www.snapdeal.com/product/xolo-era-2-8g...,https://n3.sdlcdn.com/imgs/h/h/d/1-31100.jpg,Sold out
2,Snapdeal_3,Gionee s11 32GB 4 GB Black,"Gionee s11 ( 32GB , 4 GB ) Black","Gionee s11 | Gionee s11 ( 32GB , 4 GB) | Gione...",7000,15399.0,0.0,https://www.snapdeal.com/product/gionee-s11-32...,https://n3.sdlcdn.com/imgs/j/s/0/Gionee-s11-32...,Available
3,Snapdeal_4,Realme Narzo 20 64GB 4 GB Victory Blue,"Realme Narzo 20 ( 64GB , 4 GB ) Victory Blue","Realme Narzo 20 | Realme Narzo 20 ( 64GB , 4 G...",11999,12999.0,4.0,https://www.snapdeal.com/product/realme-narzo-...,https://n1.sdlcdn.com/imgs/j/r/o/Realme-Narzo-...,Available
4,Snapdeal_5,Gionee s11 lite 32 GB 4 GB Blue,"Gionee s11 lite ( 32 GB , 4 GB ) Blue","Gionee s11 lite | Gionee s11 lite ( 32 GB , 4 ...",7004,8999.0,3.4,https://www.snapdeal.com/product/gionee-blue-s...,https://n3.sdlcdn.com/imgs/i/f/r/Gionee-Blue-s...,Available

In [92]:
def get_match(amazon):
    """Extract and Return matched value using fuzzywuzzy"""
    
    dictionary_name = {}
    try:
        # iterate flipkart product name
        for product_name in flipkart['New_Flipkart_Name']:

            # string matching using token_set_ratio function
            match = fuzz.token_set_ratio(amazon, product_name)
            
            if match >= 85:
                dictionary_name[product_name] = match
                Keymax = max(dictionary_name, key=dictionary_name.get)
                
        # return max matched value
        return Keymax
    except:
        # return NAN if not matched
        return ''

    
# store matched values
flipkart_result = []

# Iterate amazon product ame
for item in amazon['New_Amazon_Name']:
    record = get_match(item)
    flipkart_result.append(record)

amazon.insert(2, "New_Flipkart_Name", flipkart_result)

In [101]:
def get_match(amazon):
    """Extract and Return matched value using fuzzywuzzy"""
    
    dictionary_name = {}
    try :
        # iterate snapdeal product name
        for product_name in snapdeal['New_Snapdeal_Name']:
            
            # string matching using token_set_ratio function
            match = fuzz.token_set_ratio(amazon,product_name)
            
            if match >=85 :
                dictionary_name[product_name] = match
                Keymax = max(dictionary_name, key=dictionary_name.get)   
        
        # return max matched value       
        return Keymax
    except :
        # return NAN if not matched
        return ''

# store matched values
snapdeal_result = []

# Iterate amazon product name
for item in amazon['New_Amazon_Name']:
    record = get_match(item)
    snapdeal_result.append(record)
    
amazon.insert(3, "New_Snapdeal_Name",snapdeal_result)

In [107]:
# Merge snapdeal and flipkart data in amazon dataset
data = amazon.merge(flipkart,on='New_Flipkart_Name',how='left')
new_data = data.merge(snapdeal,on='New_Snapdeal_Name',how='left')

In [113]:
# drop unwanted columns
new_data = new_data.drop(['Id','ID_x','ID_y','New_Amazon_Name','New_Flipkart_Name','New_Snapdeal_Name'], axis = 1)

In [119]:
# rename columns
new_data.rename(columns={'Ratings': 'Amazon_Rating',
                       'Availability': 'Amazon_Availability',
                       'Availibility': 'Snapdeal_Availability',
                        }, inplace=True)

In [122]:
# There are the columns 
new_data.columns

Index(['Amazon_Name', 'Amazon_Synonyms', 'Amazon_SalesPrice',
       'Amazon_OriginalPrice', 'Amazon_Availability', 'Amazon_Rating',
       'Amazon_ProductLink', 'Amazon_ImageLink', 'Flipkart_Name',
       'Flipkart_Synonyms', 'Flipkart_SalesPrice', 'Flipkart_OriginalPrice',
       'Flipkart_Rating', 'Flipkart_ProductLink', 'Flipkart_ImageLink',
       'Snapdeal_Name', 'Snapdeal_Synonyms', 'Snapdeal_SalesPrice',
       'Snapdeal_OriginalPrice', 'Snapdeal_Rating', 'Snapdeal_ProductLink',
       'Snapdeal_ImageLink', 'Snapdeal_Availability'],
      dtype='object')

In [123]:
# Save dataframe in csv file
new_data.to_csv('AmazonMappedData.csv',index=0)